* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
  font-family: $font-family, $font-family-fallback;
}

a {
    text-decoration: none;
    color: $text-color;
}

html {
  scroll-behavior: smooth;
}

