//https://codepen.io/brianhaferkamp/pen/NEyGrv 

@media (min-width: 1200px) {
  #app {
    display: -webkit-box;
    display: flex;
  }

  @supports (display: grid) {
    #app {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
.article-header_a-propos {
  background-image: url('/images/studying.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

@media (min-width: 600px) {
  .article-header {
    height: 80vh;
  }
}
@media (min-width: 1200px) {
  .article-header {
    height: 100vh;
    width: 50vw;
  }
}
.article-header-text {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: right;
  max-width: 40%;
}
.article-header-text h1,
.article-header-text h2 {
  color: $black;
}

@media (min-width: 600px) {
  .article-header-text {
    max-width: 70%;
  }
}
.article-header-title {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .article-header-title {
    font-size: 5.25rem;
  }
}
.article-header-byline {
  font-weight: 400;
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  .article-header-byline {
    font-size: 1.5rem;
  }
}
.article-text {
  padding: 1rem;
  max-width: 650px;
  margin: auto;
}

.article-text-lead {
  padding: 2rem 1rem;
}
.article-text-lead h3 {
  font-weight: 300;
  text-align: center;
  margin: 0;
  line-height: 1.5;
}
@media (min-width: 600px) {
  .article-text-lead h3 {
    text-align: right;
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .article-text-lead h3 {
    font-size: 1.1rem;
  }
}

@media (min-width: 600px) {
  .article-text-lead {
    padding: 3rem 0 3rem 2rem;
  }
}
@media (min-width: 1200px) {
  .article-text-lead {
    padding: 2rem 0 5rem 3rem;
  }
}
@media (min-width: 600px) {
  .article-text-content {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
    -webkit-column-width: 300px;
       -moz-column-width: 300px;
            column-width: 300px;
  }
  .article-text-content p:first-of-type {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .article-text-content {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
    -webkit-column-width: 100px;
       -moz-column-width: 100px;
            column-width: 100px;
  }
  .article-text-content p {
    font-size: 0.95rem;
  }
}
